# Revision
## 23/07/24

In [9]:
print ("Kaivan")

Kaivan

## Check Versions

In [5]:
from platform import python_version
print(python_version ())

3.12.4

In [6]:
import sys
print (sys.version)

3.12.4 (v3.12.4:8e8a4baf65, Jun  6 2024, 17:33:18) [Clang 13.0.0 (clang-1300.0.29.30)]

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
import numpy as np
print(np.__version__)

1.26.4

### Data
### Information
### Knowledge

### Data in Machine Learning
#### Training Data
#### Validation Data
#### Testing Data

## Collection in Python
### 1.Lists
### 2.Tuples
### 3.Set
### 4.Dictionaries

## 1.Lists
### Homogeneous
### Changeable
### Used for Arrays
### Allow Duplicate Values

In [17]:
i = [12,13]
print (i)
i. append (23)
i.append (24)
print ("Add", i)
i.pop ( )
print ("Popped", i)
print (type (i))
print(len(i))
i.append('Hello')
i.append('By')
print("New",i)
i.append(24)
i.append(True)
print("Boolean",i)
print(len(i))

[12, 13]
Add [12, 13, 23, 24]
Popped [12, 13, 23]
<class 'list'>
3
New [12, 13, 23, 'Hello', 'By']
Boolean [12, 13, 23, 'Hello', 'By', 24, True]
7

## 2.Tuples
### Homogeneous
### UnChangeable
### Allow Duplicate Values
### SQL
#### .append is unavailable

In [9]:
Tuple1 = (1,2,3,4)
Tuple2 = ("Hello","I","am","Kaivan")
Tuple3 = ("Bhargav","Prag","Kaivan",1,2,3,1)
Tuple4 = (True, False)
print(Tuple1)
print(Tuple2)
print(Tuple3)
print(Tuple4)
print(type(Tuple3))
print(len(Tuple2))

(1, 2, 3, 4)
('Hello', 'I', 'am', 'Kaivan')
('Bhargav', 'Prag', 'Kaivan', 1, 2, 3, 1)
(True, False)
<class 'tuple'>
4

## Type - Casting
### Conversion of Tuple into List to add & remove elements (Vice-Versa)

In [10]:
thistuple = ("Best", "of", "Luck")
print("Thistuple type:",type(thistuple))
print("Original Tuple:",thistuple)
y = list(thistuple)
print("Thistuple after Conversion:",type(y))
y.append("Kaivan")
y.append(1)
y.append(2)
print("List after Conversion:",y)
y.pop()
print("Thistuple before Conversion:",thistuple)
thistuple = tuple(y)
print("Thistuple:",type(thistuple))
print("Thistuple after Conversion:",thistuple)

Thistuple type: <class 'tuple'>
Original Tuple: ('Best', 'of', 'Luck')
Thistuple after Conversion: <class 'list'>
List after Conversion: ['Best', 'of', 'Luck', 'Kaivan', 1, 2]
Thistuple before Conversion: ('Best', 'of', 'Luck')
Thistuple: <class 'tuple'>
Thistuple after Conversion: ('Best', 'of', 'Luck', 'Kaivan', 1)

## 3.Set
### Keeps in order
### Changeable
### Do not Allow Duplicate Values
### Find Unique elements & Join

In [16]:
s = {"Kaivan",1}
print(s)
s.add(2)
print(type(s))
s.add("Hello")
s.add("Hello")
s.add(3)
s.remove(3)
print(len(s))
print("Final Set:",s)

{1, 'Kaivan'}
<class 'set'>
4
Final Set: {1, 'Kaivan', 2, 'Hello'}

## 4.Dictionaries
### Keeps in order
### Changeable
### Do not Allow Duplicate Values
### Create data frame with list

In [19]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict)

thisdict["Brand"]="Ferrari";
thisdict["Brand2"]="Audi";
thisdict["Colour"]="Blue";
print(thisdict)

print(type(thisdict))

for i in thisdict.values():
    print(i)

thisdict[5] = "Five"
thisdict[10] = "Ten"
print("Dictionary", thisdict)

del thisdict[10]
print("Dictionary", thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Brand': 'Ferrari', 'Brand2': 'Audi', 'Colour': 'Blue'}
<class 'dict'>
Ford
Mustang
1964
Ferrari
Audi
Blue
Dictionary {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Brand': 'Ferrari', 'Brand2': 'Audi', 'Colour': 'Blue', 5: 'Five', 10: 'Ten'}
Dictionary {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Brand': 'Ferrari', 'Brand2': 'Audi', 'Colour': 'Blue', 5: 'Five'}
7